body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #64e3a1;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #444;
    color: white;
}

section {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

#gallery img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

#gallery div {
    margin-top: 10px;
}
